<h1 style="color:red">DASHBOARD CARICATA</h1>

<div *ngIf="loading">Caricamento dati...</div>

<div *ngIf="!loading && user">

  <section class="card highlight">
    <h2>{{ user.username }}</h2>
    <div class="stats">
      <div>
        <span class="label">ELO</span>
        <span class="value">{{ user.eloRating }}</span>
      </div>
      <div *ngIf="rankingPosition !== null">
        <span class="label">Posizione</span>
        <span class="value">#{{ rankingPosition }}</span>
      </div>
    </div>
  </section>

  <section *ngIf="user.stats" class="card">
    <h3>Statistiche</h3>
    <div class="grid">
      <div>Match: {{ user.stats.matchesPlayed }}</div>
      <div>Vittorie: {{ user.stats.wins }}</div>
      <div>Sconfitte: {{ user.stats.losses }}</div>
    </div>
  </section>

  <section class="card">
    <h3>Ultimi match</h3>

    <div *ngIf="lastMatches.length === 0">
      Nessuna partita giocata
    </div>

    <ul>
      <li *ngFor="let match of lastMatches">
        {{ match.players?.player1?.username }}
        vs
        {{ match.players?.player2?.username }}
        —
        <strong>
          {{ match.winner === user._id ? 'Vittoria' : 'Sconfitta' }}
        </strong>
      </li>
    </ul>
  </section>

</div>

<div *ngIf="!loading && !user">
  Nessun dato utente disponibile.
</div>
