<div class="bracket">

  <div *ngFor="let r of rounds" class="round">
    <h4>Round {{ r.round }}</h4>

    <div
      *ngFor="let m of r.matches"
      class="match-card"
      [class.clickable]="!m.winner"
      (click)="openMatch(m)">

      <div>{{ m.players.player1?.username || 'BYE' }}</div>
      <div class="vs">vs</div>
      <div>{{ m.players.player2?.username || 'BYE' }}</div>

      <small *ngIf="m.winner">
        Winner: {{ m.winner.username }}
      </small>

      <div
        class="player"
        [class.winner]="m.winner === m.players.player1?._id">
        {{ m.players.player1?.username || 'BYE' }}
      </div>

      <div
        class="player"
        [class.winner]="m.winner === m.players.player2?._id">
        {{ m.players.player2?.username || 'BYE' }}
      </div>

      <div class="status">
        {{ m.winner ? '✔ Finito' : '⏳ In attesa' }}
      </div>
    </div>
  </div>

</div>

<app-tournament-match-form
  *ngIf="selectedMatch"
  [match]="selectedMatch"
  (closed)="selectedMatch = null"
  (saved)="onMatchSaved()">
</app-tournament-match-form>
