<div class="bracket">

  <div
    class="round"
    *ngFor="let round of rounds">

    <h3>Round {{ round.round }}</h3>

    <div
      class="match"
      *ngFor="let match of round.matches">

      <div class="player">
        {{ match.players.player1?.username || 'BYE' }}
      </div>

      <div class="vs">vs</div>

      <div class="player">
        {{ match.players.player2?.username || 'BYE' }}
      </div>

      <div class="winner" *ngIf="match.winner">
        🏆
        {{ match.winner === match.players.player1?._id
        ? match.players.player1.username
        : match.players.player2.username }}
      </div>

    </div>

  </div>

</div>
